<div class="col-md-6">
    <h2 class="text-center">Add User</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="customerId">customerId ID:</label>
        <input  formControlName="customerId" placeholder="Customer Id" name="customerId" class="form-control" id="customerId">
      </div>
  
      <div class="form-group">
        <label for="customerName">Customer Name:</label>
        <input formControlName="customerName" placeholder="Customer Name" name="customerName" class="form-control" id="customerName">
      </div>

        <div class="form-group" formGroupName="parent" >
        
            <select id="vendorId" name="vendorId"  formControlName="vendorId">
           <option *ngFor="let parent of parents" [value]="parent.vendorId">
            {{parent.vendorName}}
          </option>
        </select>
       

      </div>   
    <!-- <div class="form-group">
        <label for="parent">Vendor Name:</label>
        <select id="parent" name="parent" formGroupName="parent">
          <option *ngFor="let parent of parents" [value]="parent.vendorId">
            {{parent.vendorName}}
          </option>
        </select> 
      </div> -->
   
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>